html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,300;0,400;0,500;0,700;1,300&family=Hahmlet:wght@300;400;700&family=Spectral:wght@400;700&display=swap');

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

.spectral-font{
    font-family: 'Spectral', serif;
}
.hahmlet-font{
    font-family: 'Hahmlet', serif;
}
.archivo-font{
    font-family: 'Archivo', sans-serif;
}
.italics{
    font-style: italic;
}
.text-center{
    text-align: center;
}
.white{
    color: #ffffff;
}
.black{
    color:#000000;
}
.lang-select{
    display: flex;
    justify-content: center;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
}
.lang{
    padding: 20px;
}
#intro-strip{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4%;
    justify-content: space-around;
}
.intro-strip-1{
    width: 40%;
    
}
.intro-strip-2{
    width: 40%;
    align-self: center;
  
}
.intro-desc{
    font-size: calc(0.8rem + 1vw);
    max-inline-size:  30ch;
    
}
.intro-strip-2>h1{
    font-size: calc(2rem + 2vw);
}
#intro-strip-2>h1>span{
    background-color: #ffffff;
}
#services-desc{
    background-color: #000000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2% 0 2% 0;
    margin-bottom: 4%;
}
#service-intro{
    max-inline-size:  25ch;
    font-size: calc(0.6rem + 1vw);
    width: 40%;
    align-self: center;
}
#service-list{
    width: 40%;
    font-size: calc(0.3rem + 1vw);
    line-height: 1.5;
}
#service-list>ul,li{
    list-style: none;
    text-align: right;
}
#connect-with-us{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#connect-strip{
    font-size: calc(0.6rem + 1vw);
    width: 40%;
}
#socials-list{
font-size: calc(0.6rem + 1vw);
list-style: none;
display: inline-flex;

}
.social-item{
    padding: 10px;
    text-decoration: underline;
    -webkit-text-underline-position: under;
    text-underline-position: under;
}
.container__footer {
    font-size: calc(0.3rem + 1vw);
    flex-shrink: 0;
}

@media (max-width:767px){
    #intro-strip{
        justify-content: center;
        align-items: center;
        align-content: center;
     
    }
    .intro-strip-1{
        width:100vw;
        padding: 0;
        order: 2;
      
    }
    .intro-strip-2{
        width:100vw;
        padding: 0;
        order: 1;
    }
    .intro-desc{
        font-size: calc(0.8rem + 1vw);
        max-inline-size:  100ch;
        padding: 2%;
        
    }
    #motiwa-span{
        font-size: calc(2rem + 2vw);
       
    }
    #motiwa-span-desc{
        font-size: calc(0.5rem + 1vw);
    }
   
    #services-desc{
      
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    #service-intro{
        max-inline-size:  100ch;
        width:100vw;
        padding: 2%;
        font-size: calc(0.8rem + 1vw);
    
    }
    #service-list{
        width:100vw;
        font-size: calc(0.7rem + 1vw);
        padding: 2%;
    }
    #service-list>ul,li{
       
        text-align: left;
    }
    #connect-with-us{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    #connect-strip{
     text-align: center;
        width:100vw;
        font-size: calc(0.7rem + 1vw);
 
    }
    #socials-list{
        font-size: calc(0.7rem + 1vw);
    width:100vw;
    align-self: center;
    align-items: center;
    justify-content:center;
    
    }
}

.display-off{
    display: none;;
}
.display-on{
    flex-grow: 1;
}
@media(max-width:425px){
#motiwa-span-desc{
    display: none;
}
#motiwa-span{
    font-size: calc(2.5rem + 2vw);

}
#service-intro{
    font-weight: bold;
}
body{
    justify-content: space-between;
}
main{
    justify-content: space-between;
}
}

/*-------Animations--------*/
#motiwa-span:hover::before{
    content: "";
    display: inline-block;
    position: absolute;
    width: calc(2rem + 2vw);
    height: calc(2rem + 2vw);
    background-color: #ffffff;
    opacity: .9;
    animation: high-light 3s ease-in;  
}
@keyframes high-light {
    100%{
        transform: scaleX(7.5);
    }
}

.content-anglais{
    display: none;
}